*{
    box-sizing: border-box;
}

div{

}

body{
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro";
    color: #333333;
    background-color: #f9f9f9;
    letter-spacing: 0.1px;
}

.navbar-header-transparent{
    background: transparent;
        background-image: initial;
        background-position-x:initial;
        background-position-y: initial;
        background-size: initial;
        background-repeat: initial;
        background-attachment: initial;
        background-color: transparent;
        background-clip: initial;
}


.navigasileft{
    height: 40px;
    object-fit: initial ;
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    margin-left: ;
}

nav .Sign-Up{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;

}

nav {
    background:transparent;
    background-color: #000000;
    position:fixed;
    top: 0;
    padding-right: 80px;
    padding-left: 80px;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 58px;
    font-size: .9em;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: 0.2s cubic-bezier(0, 0, 0, 1);
}

nav ul {
    list-style: none;
    position: initial;
    display: flex;
    
 }

nav ul li:hover a{
    color:#fff;
    background-color: #392A90;
}

nav ul li a{
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
}

.hero-container{
    position: relative;
    background: linear-gradient(270deg, #48367d 0%, #241842 100%);
    height: 103vh;
    padding: 80px 20px;
    padding-bottom: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    color: #fff;
    overflow: hidden;
    transform: translateY(-60px);
}

.pdih{
    padding-bottom: 115px;
}

.bgih{
    background-image: linear-gradient(to top right, #1D1237, #523E8E);
    position: relative;
}

.quarter-circle{
    width: 300px;
    height: 300px;
    background: rgba(216,216,216,0.1);
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    border-radius: 100% 0 0 0;
}

.quarter-circle:before{
    content: '';
    width: 150px;
    height: 150px;
    background: rgba(216,216,216,0.15);
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    border-radius: 100% 0 0 0;
}

.quarter-circle:after{
    content: '';
    width: 450px;
    height: 450px;
    background: rgba(216,216,216,0.1);
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    border-radius: 100% 0 0 0;
}

.hero-container .pdih .hero-content{
    margin-top: 50px;
    width: 100%;
    max-width: 100%;
}

.hero-container .hero-content{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  
}

.row{
    margin-left: -15px;
    margin-right: -15px;
}

.hero-content-left{
    width: 66.6667%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 80px;
    padding-right: 5px;
    padding-top: 15px;
}

h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.hero-container .hero-content h1{
    font-size: 62px;
    text-align: left;
    font-weight: 500px;
    transform: translateY(20px);
    opacity: 1;
    margin-bottom: 13.5px;
}

.hero-container .hero-content p{
    font-size: 24px;
    max-width: 500px;
    margin-bottom: 13.5px;
    margin-top: 20px;
    transform: translateY(20px);
    line-height: 1.5em;
}

.button-container1{
    justify-content: flex-start;
    transform: translateY(20px);
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.button-container1 i{
    margin-right: 10px;
}

.button{
    margin-bottom: 0em;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}
.orange{
    background-color: #fa7035;
    color: #fff;
    padding: 8px 20px 9px;
    font-size: 18px;
    display: inline-block;
    line-height: 40px;
    min-width: 140px;
}

.white{
    color: #e14329;
    background-color: #fff;
    padding: 8px 20px 9px;
    font-size: 18px;
    display: inline-block;
    line-height: 40px;
    min-width: 140px;
    margin-left: 40px;
    border-color: white;
    font-weight: 525;
}

.img{
    max-width: 100%;
    vertical-align: middle;
}

.hero-content-right{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    width: 33.3333333333%;
    float: left;
    padding-right: 120px;
    margin-top:30px;
}
.white-paper{
    display: block;
    margin: 0 auto 20px auto;
    transition: 0.2s cubic-bezier(0, 0, 0, 1);
    width: 250px;
    max-width: 100%;
    padding-top: 70px;

}

.hero-content-right span{
    border-bottom: 1px solid rgba(255,255,255,0.7);
    display: inline-block;
    padding-bottom: 5px;
    box-sizing: border-box;
    padding-top: 0px;
    margin-left: 30px;
    font-size: 24px;
}

.simple-middle-square{
    border-color: #fa7035;
    border-style: solid;
    border-width: 2px;
    
}

.simple-border{
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    font-size: 22px;
    font-weight: 700;
    margin: 0px auto 0px auto;
    max-width: 650px;
    padding: 20px;
    position: relative;
    text-align: center;
    margin-top: -90px;
}

.container-sec2{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center ;
    flex: auto;
    margin: 50px 60px;
    width: 90%;
    height: 82vh;
       
}

.container-sec2 .card-container .card {
    margin-top: 0px;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    float: none;
    flex: 0 0 auto;
    margin: 0px 15px 0px 15px;
    min-width: 360px;
    overflow: hidden;
    padding: 0px;
    position: relative;
    transition: 0.2s cubic-bezier(0, 0, 0, 1);
    width: calc(33% - 30px);
    
}

.box-image{
    background: #548;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 56.25%;
    position: relative;
    width: 100%;
   
}

.img-1{
    background-image: linear-gradient(rgba(28,22,53,0.75),rgba(12, 8, 27, 0.75)),url(/Gambar/computer.jpg);
    background-position: center;
    background-size: cover;  
}

.img-2{
    background-image: linear-gradient(rgba(28,22,53,0.75),rgba(12, 8, 27, 0.75)),url(Gambar/data.png);
    background-position: center;
    background-size: cover;
}

.img-3{
    background-image: linear-gradient(rgba(28,22,53,0.75),rgba(12, 8, 27, 0.75)),url(Gambar/lock.jpg);
    background-position: center;
    background-size: cover;
}

.box-text {
    left: 0;
    position: absolute;
    text-align: center;
    top: calc(50% - .75em);
    width: 100%;
    z-index: 2;
}

.h3-card{ 
    font-size: 24px;
    margin: 30px 30px 24px 30px;
    font-weight: 400;
    color: #333333;
    line-height: 35px;
}

.p-card{
    font-size: 16px;
    margin:28px 27px 14px 30px;
    line-height: 25px;
}

.a-card{
    font-weight: 400;
    text-decoration: none;
    margin: -5px 0px 20px 15px;
    padding: 15px;
   
}

.a-card a{
    list-style: none;
    text-decoration: none;
}

.sponsor-logo{
    padding: 50px 20px 20px;
}

.sponsor-logo .sponsor-p{
    text-align: center;
    font-size: 18px;
    line-height: 1.4;
    color: #828282;
    margin: 0;
}

.logo-container{
    display: flex;
    justify-content: center;
    padding: 20px, 50px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.logo-container .logo-size {
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 20px 50px;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    overflow: hidden;
}

.logo-container .logo-size img {
    height: 50px;
    max-width: 110px;
    padding: 20px;
    box-sizing: content-box;
    opacity: .4;
    color: #444;
    fill: #444;
    transition: 0.2s cubic-bezier(0, 0, 0, 1);
}

.container-sales{
    background: #3f3177;
    color: rgba(255,255,255,0.7);
    padding: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-sales .sales-h3{
    text-align: center;
    font-size: 34px;
    margin-top: 0px;
    color: #ffffff;
    font-weight: 600;
    line-height: 1.2px;
}

.container-sales .sales-p{
    text-align: center;
    margin-top: 0px;
}

.sales-button{
    background-color: #e65328;
    color: #fff;
    margin-top: 20px;
    display: inline-block;
    padding: 5px 30px;
    font-size: 18px;
    line-height: 40px;
    min-width: 50px;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

.sales-link{
    color: rgba(255,255,255,0.7);
    text-decoration: underline;
    margin-top: 20px;
    font-weight: 400;
}

.gitlab-container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left:30px;
}

.gitlab-cont2 .position-relative{
    position: relative;
}

.gitlab-container .gitlab-cont2{
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gitlab-container .gitlab-cont2 .gitlab-service{
    font-size: 24px;                          
    margin-top: 27px;
    margin-bottom: 13.5px;
    font-weight: 600;
    line-height: 1.2;
    text-decoration: none;
}

.gitlab-container .gitlab-cont2 p{
    font-size: 24px;
    margin: 0 0 13.5px;
    max-width: 800px;
    line-height: 38px;
}

.table-container {
    position: relative;
    margin-left: 80px;
    width: 93%;
}


.table-content1{
    top: 208px;
    position: absolute;
    right: calc(100% + 20px);
    text-align: right;
    color: #828282;
    font-size: 15px;
}

.table-content2{
    bottom: 100px;
    position: absolute;
    right: calc(100% + 20px);
    text-align: right;
    color: #828282;
    font-size: 15px;
}

.table-row{
    display: flex;
    position: relative;
    width: 100%;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    flex-direction: row;
}

.table-row .table-clm {
    border-right: 1px solid #e7e7e7;
    flex-direction: column;
    position: relative;
}

.table-row .table-clm .logo-container-1{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
}

.table-row .table-clm .logo-container-1 svg{
    height: 44px;
    margin-bottom: 5px;
    fill: #548;
}

.logo-container-1 a{
    text-decoration: none;
}
    
.solution-container-1 {
    padding: 20px 6px;
    padding-bottom: 6px;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    flex: 1;
}

.future-solution-1 {
    width: 100%;
    text-align: center;
    font-size: 15px;
    column-gap: 30px;
    column-span: initial;
}

.logo-solution-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}

.font-bold{
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

.logo-solution-1 svg {
    display: block;
    max-height: calc(100% - 40px);
    max-width: 80%;
    width: auto;
}

.logo-solution-1 img {
    display: block;
    max-height: calc(100% - 40px);
    max-width: 60%;
    width: auto;
}

.space-table {
    margin-top: 20px;
}

.button-container{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    margin-top: 60px;
}

.button-margin {
    display: inline-block;
    position: relative;
    vertical-align:middle;
    margin-left: 15px;
}

.button-orange{
    background-color: #e65328;
    color: #fff;
    display: inline-block;
    padding: 4px 30px;
    font-size: 18px;
    line-height: 40px;
    min-width: 140px;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    text-decoration: none;
    border: #e65328;;
    
}

.button-purple{
    background-color: #548;
    color: #fff;
    display: inline-block;
    padding: 4px 30px ;
    font-size: 18px;
    line-height: 40px;
    min-width: 140px;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    padding-left: 18.6px;
    text-decoration: none;
    border-color: #5f43ad
}

/* End Of Section 5 */

/* Section 6 */
.new-feature{
    position: relative;
    color:#ffffff;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 75vh;
}

.new-feature::before{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(Gambar/New\ Feature/sky-bg.jpg) 50% 100%/cover no-repeat;
    content: "";
}

.background-feature {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 233px;
    line-height: 1;
    text-align: center;
}

.feature-description{
    padding: 136px 80px 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    overflow: hidden;
}

.feature-description{
    background-image: url(Gambar/New\ Feature/mountain.png);
    top: 80px;
}

.feature-description-center{
    z-index: 1;
    text-align: center;
}

.feature-description-center h3{
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 600;
}

.feature-description-center p{
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 600;
}

.feature-description-center button{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 40px;
    min-width: 140px;
    padding: 30px 40px;
    color: rgb(225, 67, 41);
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    transition: all 0.2s ease 0s;
    display: inline-block;
    margin-bottom: 0px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    line-height: 1.5;
    user-select: none;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    padding: 8px 16px;
    border-radius: 4px;
    margin-top: 20px;
}
/* End Of Section 6 */

/* Section 7 */
.container{
    width: 100%;
}

.title-card {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 34px;
    font-weight: 700;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    padding: 10px;
    margin:60px;
}

.grid-container::after{
    clear: both;
    content: " ";
    display: table;
    box-sizing: border-box;
}

.grid-link{
    text-decoration: none;  
}

.grid-picture1{
    width: 100%;
    min-height: 180px;
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 0.2s cubic-bezier(0, 0, 0, 1) 0s;
    background-image: url(Gambar/New\ Feature/serverless-ops-blog.jpg);
}

.grid-picture2{
    width: 100%;
    min-height: 180px;
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 0.2s cubic-bezier(0, 0, 0, 1) 0s;
    background-image: url(Gambar/New\ Feature/default-blog-image.png);
}

.grid-picture3{
    width: 100%;
    min-height: 180px;
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 0.2s cubic-bezier(0, 0, 0, 1) 0s;
    background-image: url(Gambar/New\ Feature/stairs_cover.jpg);
}

.grid-padding{
    height: 63.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
    padding: 30px;
    background: rgb(255, 255, 255);
    text-decoration: none;
    

}

.grid-title{
    color: rgb(0, 0, 0);
    font-size: 22px;
    margin-top: 0px;
    margin-bottom:13.5px;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
}

.grid-by{
    color: rgb(130, 130, 130);
    margin: 0px 0px 13.5px;
}

.grid-description{
    color: rgb(0, 0, 0);
    margin: 0px 0px 13.5px;
    text-decoration: none;
}

.grid-link {
    margin-top: auto;
}

.grid-link2{
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

/* End Of Section 7 */

/* Section 8 */

.grid-picture4{
    width: 100%;
    min-height: 180px;
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 0.2s cubic-bezier(0, 0, 0, 1) 0s;
    background-image: url(Gambar/New\ Feature/feature-thumb-webcast.png);
    text-decoration: none;
}

.grid-container .grid-link2 {
    text-decoration: none;
}
/* End Of Section 8 */


/* Section 9 */

.footergitlab{
    position: relative;
    padding-top: 50px;
    margin-top: 80px;
    background-color: rgb(107, 79, 187);
    color: #ffffff;
    z-index: 9;
    text-align: left;
    display: block;
}

.footergitlab svg{
    position: absolute;
    top: -36px;
    left: 50%;
    margin-left: -32.5px;
}

.social-media-container{
    width: 100%;
    transition: all .2s linear;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.social-media-logo{
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    padding-bottom: 16px;
    text-align: center;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.footer ul{
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    padding-bottom: 16px;
}

.social-media-logo li {
    display: inline-block;
    width: 45px;
    font-size: 23px;
}

.social-media-logo a{
    font-size:28px;
    align-items: center;
    color: white;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

}

.footer-container-description{
    padding: 24px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 14px;
}

.footer-container-description h3{
    margin-left: 33px;
}

.footer-link-title {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 28px;
}

.footer-list{
    position: relative;
    padding-top: 10px;
    margin-top: 20px;
    background: #6b4fbb;
    color: #fff;
    z-index: 9;
    text-align: left;
    list-style: none;
    text-decoration: none;
    line-height: 30px;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
}

.footer-list a{
    color: white;
    text-decoration: none;
}

.footer{
    text-decoration: none;
}